footer.footer
    .container-seventh 
        p.footer__logo 
            span Brit
            span lex
        .footer__links 
            span Terms and Conditions 
            span • 
            span Privacy Policy 
            span • 
            span Cookie Policy