header.header
    .container-first 
        a.header__logo(href='#') 
            span Brit
            span lex
        .header__burger
            span
        .header__menu-dark
            .header__menu
                .cross__block
                    .header__cross
                .header-line
                ul.header__list
                    li
                        a.header__menu-link(href='#') Home
                    li
                        a.header__menu-link(href='#skills') Skills
                    li
                        a.header__menu-link(href='#about') About Us
                    li
                        a.header__menu-link(href='#pricing') Pricing
                    li
                        a.header__menu-link(href='#contact') Contacts
                a.header__button-second(href="#") Let's Talk 
        a.header__button(href="#contact") Let's Talk